services:
  eureka-server:
    image: 'biglibon-microservice-eureka-server:latest'
    container_name: eureka-server
    build:
      context: ./eureka-server
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8761:8761"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SERVER_PORT: 8761
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: false
      EUREKA_INSTANCE_HOSTNAME: eureka-server
    networks:
      - biglibon-network
    depends_on:
      - mongo-db
      - postgres-db

  api-gateway:
    image: 'biglibon-microservice-api-gateway:latest'
    container_name: api-gateway
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8888:8888"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SERVER_PORT: 8888
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: false
      SPRING_APPLICATION_NAME: api-gateway
    networks:
      - biglibon-network
    depends_on:
      - eureka-server

  book-service:
    image: 'biglibon-microservice-book-service:latest'
    build:
      context: ./book-service
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: ${EUREKA_URL}
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: ${EUREKA_PREFER_IP}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      SPRING_DATA_MONGODB_HOST: ${MONGO_HOST}
      SPRING_DATA_MONGODB_PORT: ${MONGO_PORT}
      SPRING_DATA_MONGODB_DATABASE: ${MONGO_DATABASE}
      SPRING_DATA_MONGODB_USERNAME: ${MONGO_USERNAME}
      SPRING_DATA_MONGODB_PASSWORD: ${MONGO_PASSWORD}
    networks:
      - biglibon-network
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    depends_on:
      - eureka-server

  library-service:
    image: 'biglibon-microservice-library-service:latest'
    build:
      context: ./library-service
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/biglibon?user=biglibon&password=biglibon
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/biglibon
#      SPRING_DATASOURCE_USERNAME: biglibon
#      SPRING_DATASOURCE_PASSWORD: biglibon
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: false
      SPRING_APPLICATION_NAME: library-service
    networks:
      - biglibon-network
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    depends_on:
      - book-service

  catalog-service:
    image: 'biglibon-microservice-catalog-service:latest'
    build:
      context: ./catalog-service
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: docker
      KAFKA_BOOTSTRAP_SERVERS: kafka-4:9092, kafka-5:9092, kafka-6:9092, kafka-7:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
#      SPRING_DATA_MONGODB_URI: mongodb://biglibon:biglibon@mongo-db:27017/biglibon?authSource=admin
      SPRING_DATA_MONGODB_HOST: mongo-db
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_DATA_MONGODB_DATABASE: biglibon
      SPRING_DATA_MONGODB_USERNAME: biglibon
      SPRING_DATA_MONGODB_PASSWORD: biglibon
      SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE: admin
      EUREKA_INSTANCE_PREFER_IP_ADDRESS: false
      SPRING_APPLICATION_NAME: catalog-service
    networks:
      - biglibon-network
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    depends_on:
      - library-service

####### Networks #######
networks:
  biglibon-network: