version: '3.9'

services:
#  eureka-server:
#    image: 'biglibon-microservice-eureka-server:latest'
#    container_name: eureka-server
#    build:
#      context: ./eureka-server
#      dockerfile: Dockerfile
#    restart: unless-stopped
#    ports:
#      - "8761:8761"
#    networks:
#      - biglibon-network
#
#  api-gateway:
#    image: 'biglibon-microservice-api-gateway:latest'
#    container_name: api-gateway
#    build:
#      context: ./api-gateway
#      dockerfile: Dockerfile
#    restart: unless-stopped
#    ports:
#      - "8888:8888"
#    depends_on:
#      - eureka-server
#    networks:
#      - biglibon-network
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
#
#  book-service:
#    image: 'biglibon-microservice-book-service:latest'
#    container_name: book-service
#    build:
#      context: ./book-service
#      dockerfile: Dockerfile
#    restart: unless-stopped
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
#    networks:
#      - biglibon-network
#    deploy:
#      replicas: 1
#    depends_on:
#      - eureka-server
#      - api-gateway
#
#  library-service:
#    image: 'biglibon-microservice-library-service:latest'
#    container_name: library-service
#    build:
#      context: ./library-service
#      dockerfile: Dockerfile
#    restart: unless-stopped
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
#    networks:
#      - biglibon-network
#    deploy:
#      replicas: 1
#    depends_on:
#      - eureka-server
#      - api-gateway

######## Databases #######
#  postgresqldb:
#    image: postgres
#    container_name: postgresqldb
#    ports:
#      - "5432:5432"
#    restart: unless-stopped
#    environment:
#      - POSTGRES_USER=biglibon
#      - POSTGRES_PASSWORD=biglibon
#      - POSTGRES_DB=biglibon
#    volumes:
#      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: biglibon
      MONGO_INITDB_ROOT_PASSWORD: biglibon
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongoui
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: biglibon
      ME_CONFIG_MONGODB_ADMINPASSWORD: biglibon
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_URL: "mongodb://biglibon:biglibon@mongodb:27017/"
    depends_on:
      - mongodb

#  pgadmin:
#    image: dpage/pgadmin4
#    container_name: postgresqlui
#    restart: unless-stopped
#    ports:
#      - "5050:80"
#    environment:
#      PGADMIN_DEFAULT_EMAIL: admin@biglibon.com
#      PGADMIN_DEFAULT_PASSWORD: biglibon
#    depends_on:
#      - postgresqldb
#    volumes:
#      - pgadmin_data:/var/lib/pgadmin

####### Volumes #######
volumes:
#  postgres_data:
#  pgadmin_data:
  mongo-data:

####### Networks #######
networks:
  biglibon-network: