spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: book-service
              uri: lb://book-service
              predicates:
                - Path=/v1/books/**
            - id: library-service
              uri: lb://library-service
              predicates:
                - Path=/v1/libraries/**
          discovery:
            locator:
              enabled: true

server:
  port: 8888

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
  service-url:
    defaultZone: http://localhost:8761/eureka # value will get overriden if passed from external config


management:
  endpoints:
    web:
      exposure:
        include: "*" # adds all actuator endpoints (like health (shows that app is live?))
