spring:
  cloud:
    client:
      hostname: eureka-server
  application:
    name: eureka-server

eureka:
  instance:
  client:
    register-with-eureka: false
    fetch-registry: false

server:
  port: 8761